Repository paketo-buildpacks/rfcs, pull requests merged in 2022-02, with the labels that each got.

#140 RFC: Credential Configuration in the Git Buildpack
  text/utilities/0003-git-credential-configuration.md
Labels: team/utilities

#143 Assign RFC number & update README
  README.md
  text/0041-direct.md
Labels: documentation

#145 Add Open Liberty buildack to Java buildpack
  text/java/0000-add-liberty-to-java-composite.md
Labels: team/java

#138 A proposal to alter the builder order
  README.md
  text/0042-adjust-builder-order.md
Labels: rfcs

#151 Assign 0008 as Java subteam RFC for 'Add open liberty buildpack to the Java buildpack' RFC
  text/java/0008-add-liberty-to-java-composite.md
  text/java/README.md
Labels: team/java

#148 Proposes to add Datadog support for Java
  text/java/0009-datadog.md
  text/java/README.md
Labels: team/java

#149 Rename Open Liberty Buildpack to Liberty Buildpack
  text/java/0000-rename-open-liberty-buildpack.md
Labels: team/java
