Repository paketo-buildpacks/rfcs, pull requests merged in 2022-07, with the labels that each got.

#212 RFC: Remove `dep` and `dep-ensure` Buildpacks
  text/go/0001-remove-dep.md
Labels: team/go

#213 RFC: .NET Core Remote Debugging Support
  text/dotnet-core/0005-debug-support.md
Labels: team/dotnet-core

#171 Quarkus Buildpack
  text/java/0012-quarkus.md
Labels: team/java

#225 Amend Bionic Stack RFC
  text/stacks/0005-bionic-stack-updates.md
Labels: team/stacks

#183 Contributes RFC for a Health Checker buildpack
  text/utilities/0000-health-checker-buildpack.md
Labels: team/utilities

#214 Python Dependencies
  text/python/0000-dependencies-update.md
Labels: team/python
