Repository paketo-buildpacks/rfcs, pull requests merged in 2022-08, with the labels that each got.

#219 RFC: Reduce Build Complexity of .Net Runtimes
  text/dotnet-core/0005-simplify-runtime-dependency.md
Labels: team/dotnet-core

#226 Assign RFC number & update README
  text/java/README.md
  text/utilities/0007-health-checker-buildpack.md
  text/utilities/README.md
Labels: documentation

#222 Proposes to add an APM Tooling team & eight new APM buildpacks
  README.md
  text/0051-apm-tools.md
Labels: enhancement

#215 Propose to add OpenTelemetry support for Java
  text/java/0012-opentelemetry.md
Labels: team/java

#242 Assign RFC number & update README
  text/java/0013-opentelemetry.md
  text/java/README.md
Labels: documentation, team/java
